// container of both pokemon name and ID, set to inline-flex so that they are lined up and so that text-align works
body {
    background-color: rgb(233, 64, 64);
}
.full_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.search-container {
    .poke_buttons {
        background-color: #e94040;
        color: white;
        cursor: pointer;
        border: 1px solid white;
        width: 80px;
        height: 25px;
    }
    #search_button {
        margin-right: 6px;
    }
    .two_buttons {
        display: inline-flex;
        margin-top: 5px;
    }
    .poke_buttons:hover {
        font-weight: bold;
        border: 1.5px solid white;
    }
    .form-control {
        border: 2px solid #e94040;
        border-radius: 4px;
        padding: 5px 10px;
        margin-top: 3px;
    }
    .welcome {
        margin: 5px;
    }
    .logo-wrapper {
        // background-color: transparent;
        width: auto; 
    }
    .poke_logo {
        width: 80%;
    }
    .search_label { 
        color: black;
        font-weight: bold;
    }
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 2px solid white;
    padding: 1em;
    background-color: #30a7d7
}
.pokedex_results_container {
    width: 700px;
    border: 2px white solid;
    padding: 0.5em; 
    background-color: #30a7d7;
    height: 275px;
}
.left_container {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .poke_img {
        width: 170px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .name_ID {
        display: inline-flex;
        padding-left: 10px;
        padding-right: 10px;
        justify-content: center;
        font-family: 'Quicksand', sans-serif;
        height: 50px;
    }
    .poke_name {
        padding-right: 20px;
    }
    .poke_id {
        padding-left: 20px;
        font-weight: bolder;
    }
    .poke_category p {
        margin: 0.5em;
        font-weight: bold;
    }
    text-align: center;
    /* should center container */
    font-family: 'Quicksand', sans-serif;
}
.right_container {
    float: right;
    width: 60%;
    height: 100%;
    .poke_four {
        // position: relative;
        padding: 0 1em 0 1em
    }
    span {
        width: 50%;
        height: 50%;
        float: left;
        justify-content: center;
    }
    .poke_description {
        margin: 1.5em 2em 0 2em;
    }
    .sub_stat {
        margin-top: 1em;
        height: 100%;
    }
    .poke_stats {
        background-color: white;
        font-weight: bold;
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .height {
        margin-bottom: 1em;
    }
    .abilities {
        margin-bottom: 1em;
    }
    .weight {
        margin-bottom: 1em;
    }
    .genus {
        margin-bottom: 1em;
    }
    .evo_chain {
        margin-bottom: 1em;
    }
    font-family: 'Quicksand', sans-serif;
}
.search-container-two {
    .poke_buttons_two {
        background-color: #e94040;
        color: white;
        cursor: pointer;
        border: 1px solid white;
        width: 80px;
        height: 25px;
    }
    #search_button_two {
        margin-right: 6px;
    }
    .two_buttons_two {
        display: inline-flex;
        margin-top: 5px;
    }
    .poke_buttons_two:hover {
        font-weight: bold;
        border: 1.5px solid white;
    }
    .form-control-two {
        border: 2px solid #e94040;
        border-radius: 4px;
        padding: 5px 10px;
        margin-top: 3px;
    }
    .search_label_two { 
        color: black;
        font-weight: bold;
    }
    .welcome-two {
        margin: 0;
    }
    text-align: center;
    padding: 1em;
    margin-top: 2em;
    border: 2px solid white;
    background-color: #30a7d7;
}
@media screen and (max-width: 730px) {
    .pokedex_results_container {
        width: 400px;
        font-size: small;
    }
    .left_container {    
        .poke_img {
            width: 150px;
        }
        .poke_name {
            padding-right: 2px;
        }
        .poke_id {
            padding-left: 2px;
        }
        .name_ID {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
}