// container of both pokemon name and ID, set to inline-flex so that they are lined up and so that text-align works
body {
    background-color: rgb(233, 64, 64);
}
.search-container {
    .poke_buttons {
        margin-top: 3px;
    }
    .welcome {
        margin: 5px;
    }
    .logo-wrapper {
        // background-color: transparent;
        width: auto; 
    }
    .poke_logo {
        width: 80%;
    }
    .form-control {
        margin-top: 3px;
    }
    .search_label { 
        color: black;
        font-weight: bold;
    }
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 2px solid white;
    padding: 1em;
    background-color: #30a7d7
}
.name_ID {
    display: inline-flex;
    padding-left: 10px;
    padding-right: 10px;
}
// name of the pokemon
.poke_name {
    padding-right: 20px;
}
// id of the pokemon, lined up with name due to name_ID display being 'inline-flex'
.poke_id {
    padding-left: 20px;
}
// pokedex_results_container is the master container, results_container is smaller and a child of it
.results_container {
    .pokedex_results_container {
        position: relative;
    }
    .poke_img {
        width: 200px;
    }
    .poke_four {
        height: 8em;
        position: relative;
        padding: 0 1em 0 1em
    }
    span {
        width: 50%;
        height: 50%;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .poke_description {
        margin: 0 2em 1em 2em;
    }
    .poke_category p {
        margin: 0.5em
    }
    background-color: white;
    border: 3px solid;
    /* this aligned the pokemon name and ID above the image */
    text-align: center;
    /* should center container */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}